@media (max-width: 768px) {
    
}
@media (max-width: 480px) {

}
*{
    box-sizing: border-box;
    margin: 0;
    padding:0
}
body {
    font-family: 'PT Serif', serif;
    line-height: 1.6;
    background: white;
    color: black;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.logo{
    font-size: 32px;
    font-weight: bold;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 15px;
    
}